<!-- _includes/events.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if event.redirect -%}
  <a href="{{ event.redirect }}">
    {%- else -%}
    <a href="{{ event.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if event.img %}
        {%- include figure.html
          path=event.img
          alt="event thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ event.title }}</h2>
          <p class="card-text">{{ event.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if event.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ event.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if event.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ event.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>