---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
body {
  counter-reset:theorem;
  counter-reset:lemma;
  counter-reset:proposition;
  counter-reset:definition;
  counter-reset:example;
  counter-reset:proof;
  counter-reset:remark;
  counter-reset:corollary;
  counter-reset:assumption;
}

.theorem {
  counter-increment: theorem; 
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.theorem:before {
  content: "Theorem " counter(theorem) ".";
  font-weight: bold;
  font-style: normal;
}
.theorem[name]:before {
  content: "Theorem (" attr(name) "). ";
  font-weight: bold;
  font-style: normal;
} /* for nammed theorems, pass name="...", doesn't work :'(*/



.proposition {
  counter-increment: proposition;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.proposition:before {
  content: "Proposition " counter(proposition) ". ";
  font-weight: bold;
  font-style: normal;
}
.proposition[name]:before {
  content: "Proposition (" attr(name) "). ";
  font-weight: bold;
  font-style: normal;
}


.assumption {
  counter-increment: assumption;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.assumption:before {
  content: "Assumption " counter(assumption) ". ";
  font-weight: bold;
  font-style: normal;
}
.assumption[name]:before {
  content: "Assumption (" attr(name) "). ";
  font-weight: bold;
  font-style: normal;
}

.remark {
  counter-increment: remark;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.remark:before {
  content: "Remark " counter(remark) ". ";
  font-weight: bold;
  font-style: normal;
}
.remark[name]:before {
  content: "Remark (" attr(name) "). ";
  font-weight: bold;
  font-style: normal;
}

.corollary {
  counter-increment: corollary;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.corollary:before {
  content: "Corollary " counter(corollary) ". ";
  font-weight: bold;
  font-style: normal;
}
.corollary[name]:before {
  content: "Corollary (" attr(name) "). ";
  font-weight: bold;
  font-style: normal;
}

.lemma {
  counter-increment: lemma;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.lemma:before {
  content: "Lemma " counter(lemma) ". ";
  font-weight: bold;
  font-style: normal;
}
.lemma[name]:before {
  content: "Lemma (" attr(name) "). ";
  font-weight: bold;
  font-style: normal;
}
.proof {
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.proof:before {
  content: "Proof.";
  font-style: italic;
}
.proof:after {
  content: "\25FC";
  float:right;
}

.definition {
  counter-increment: definition;
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.definition:before {
  content: "Definition " counter(definition) ". ";
  font-weight: bold;
  font-style: normal;
}
.definition[name]:before {
  content: "Definition (" attr(name) "). ";
  font-weight: bold;
  font-style: normal;
}
.example {
  counter-increment: example;
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.example:before {
  content: "Example " counter(example) ". ";
  font-weight: bold;
  font-style: normal;
}
.example[name]:before {
  content: "Example (" attr(example) "). ";
  font-weight: bold;
  font-style: normal;
}